@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
       url('/fonts/montserrat-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;

}

@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('/fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat-bold-webfont.woff2') format('woff2'),
       url('/fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat-medium-webfont.woff2') format('woff2'),
       url('/fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

* {
  box-sizing: border-box;
}

:root {
  --grey-3: #333333;
  --white: #ffffff;
  --btn-color: rgba(255, 153, 0, 1);
  --btn-hover: rgba(255, 153, 0, .6);
  --active-color: #E1670E;
  --border-txt: #CACACA;
  --black: #000000;
  --black-2: #222222;
  --black-6: #666666;
  --check: #97EE3F;
  --grey-d2: #d2d2d2;
  --button-plus: #ececec;
  --grey-59: #595959;
}

body {
  margin: 0;
  font-family: 'montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
 margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  background-color: #ffffff;
}

.container {
  max-width: 1810px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
  color: var(--grey-3);
}

/* header */

.header {
  padding: 11px 0;
  background-color: #ffffff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

/* .logo {
  width: 224px;
  height: 72px;
  display: inline-block;
  background: url(img/logo.svg) center center no-repeat transparent;
  background-size: cover;
} */

.logo:focus {
  outline: 2px solid var(--btn-color);
}

*:focus {
  outline: 2px solid var(--btn-color);
}

.header-container, .header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-burger {
  display: none;
}

.burger-wrapper {
  display: none;
}

.header-container__burger {
  display: none;
  width: 40px;
  height: 33px;
  background: url(img/burger.svg) center center no-repeat transparent;
}

.header-container__burger_x {
  width: 23px;
  height: 23px;
  margin-bottom: 100px;
  background: url(img/X.svg) center center no-repeat transparent;
  border: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 84px;
}

.nav-link {
  padding: 10px 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: var(--grey-3);
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s ease;
}

.nav-link:hover {
  background-image: linear-gradient(var(--btn-color), var(--btn-color));
  background-size: 100% 2px;
}

.nav-link:active {
  color: var(--active-color);
}

.nav-burger-list__active {
  flex-direction: column;
  align-items: flex-start;
}

.nav-burger__link {
  display: block;
  padding: 7px;
  margin-bottom: 30px;
}

.nav-burger__item:last-child > .nav-burger__link{
  margin-bottom: 0;
}

.nav-burger__link:focus {
  outline: 2px solid var(--btn-color);
}

.nav-burger__link:active {
  color:var(--active-color);
  outline: none;
  background-image: linear-gradient(var(--active-color), var(--active-color));
  background-size: 100% 2px;
}

.header__search_submit {
  margin: 0px -1px 0 83px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__search_icon circle, .header__search_icon rect {
  transition-property: stroke, fill;
  transition-duration: .3s;
  transition-timing-function: ease;
  transition-delay: .3s;
}

.header__search_submit:hover .header__search_icon circle{
  stroke: var(--btn-color);
}

.header__search_submit:active .header__search_icon rect {
  fill: var(--btn-color);
}

.header__search_submit:active .header__search_icon circle{
  stroke: var(--active-color);
}

.header__search_submit:hover .header__search_icon rect {
  fill: var(--active-color);
}


/* slider */

.section-slider {
  margin-bottom: 105px;
}

.swiper-container {
  position: relative;
  overflow: hidden;
}

.container .swiper-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.section-slider__content {
  position: relative;
  z-index: 2;
  padding: 103px 78px 100px 80px;
  background-size: cover;
}

.section-slider__1 {
  background-image: url(/img/low-angle-photo-of-balconies.jpg);
}

.section-slider__2 {
  background-image: url(img/swiper-2.jpg);
}

.section-slider__3 {
  background-image: url(img/swiper-3.jpg);
}


.section-slider__content_in {
  position: relative;
  z-index: 4;
}

.section-slider__heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 70.1px;
  line-height: 86.3px;
  font-weight: 800;
  color: var( --white);
}

.section-slider__desc {
  width: 49%;
  margin-top: 0;
  margin-bottom: 90px;
  font-size: 24px;
  line-height: 28.6px;
  font-weight: 700;
  color: var( --white);
}

.section-slider.container .swiper-pagination {
  bottom: 7%;
}

.section-slider.container .swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.section-slider.container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.btn {
  display:inline-block;
  padding: 26px 37px 24px 39px;
  font-size: 23.4581px;
  line-height: 28.6px;
  font-weight: 700;
  color: var( --white);
  background-color: var(--btn-color);
  transition: background-color .3s ease;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn:active {
 background-color: var(--active-color);
}

/* about-us */

.section-about-us {
  margin-bottom: 109px;
}

.section-about-us__heading {
  margin-left: 2px;
}

.section-about-us__desc {
  width: 69.9%;
  margin-top: 0;
  margin-bottom: 49px;
  font-size: 15.8px;
  line-height: 32px;
  font-weight: 400;
  color: var(--grey-3);
}

.section-about-us__desc_icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
  background-size: contain;
  overflow: visible;
}

.section-about-us__desc_icon::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(img/tooltip.svg);
}

.section-info {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}

.section-info__col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc((100% - 32px)/2);
}


.section-info__wrap_img {
  display: flex;
  flex-direction: column-reverse;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(img/worker.jpg);
  background-size: cover;
}

.section-info__about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 51px 51px 49px 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-info__txt {
  margin: 0 110px 0 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: var(--white);
}

.section-info__more {
  padding: 18px 34px 16px 36px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--white);
  background-color: transparent;
  border: 3px solid var(--btn-color);
  transition: background-color .3s ease, border .3s ease;
}

.section-info__more:hover {
  background-color: var(--btn-color);
}

.section-info__more:active {
  background-color: var(--active-color);
  border: 3px solid var(--active-color);
}


.section-info__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-info__desc_top, .section-info__desc_bottom {
  padding: 65px 110px 63px 299px;
  border: 1px solid var(--border-txt);
}

.section-info__desc_top {
  margin-bottom: 32px;
  background: url(img/circle-square.svg ) 58px 64px no-repeat transparent;
}

.section-info__desc_bottom {
  background: url(img/circle-engine.svg ) 58px 64px no-repeat transparent;
}

.section-info__heading {
  margin: 0 0 8px 0px;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 700;
  color: var(--grey-3);
}

.section-info__txt_right {
  margin: 0;
  font-size: 15.7px;
  line-height: 32px;
  font-weight: 400;
  color: var(--grey-3);
}

/* work */

.section-work {
  margin-bottom: 102px;
}

.section-work__heading {
  font-size: 47.4px;
  line-height: 47.51px;
  margin-bottom: 54px;
}

.section-work__tabs {
  margin-bottom: 49px;

}

.tabs-item {
  display: inline-block;
  margin-right: 81px;
}

.tabs-link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: var(--grey-3);
  border: none;
  background-color: transparent;
  transition: color .3s ease;
  cursor: pointer;
}


.tabs-link:hover {
  color: var(--btn-color)
}

.tab-link__active {
  color: var(--btn-hover);
}

.tabs-link__active {
  color: var(--btn-color);
}

.section-info__work_heading {
  margin-left: 2px;
  margin-bottom: 7px;
  font-size: 23.9px;
}

.section-work__btn {
  display: inline-block;
  margin-right: 27px;
  padding: 21px 40px 20px 39px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: var(--white);
  transition: background-color .3s ease;
}

.section-work__btn:hover {
  background-color: var(--btn-hover);
}

.section-work__btn:active {
  background-color: var(--active-color);
}

.section-work__contract {
  display: inline-block;
  padding: 20px 37px 18px 37px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: var(--grey-3);
  background-color: inherit;
  border: 1px solid var(--grey-3);
  transition: color .3s ease, background-color .3s ease;
}

.section-work__contract:hover {
  color: var(--white);
  background-color: var(--black-6);
}

.section-work__contract:active {
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--black);
}


.section-work__info::after {
  content: '';
  position: absolute;
  width: calc((100% - 30px)/2);
  height: 100%;
  top: 5px;
  right: 0;
}

.tab-active__img_1::after {
  background-repeat: no-repeat;
  background-image: url(img/work-img.jpg);
  background-size: contain;
}

.tab-active__img_2::after {
  background-repeat: no-repeat;
  background-image: url(img/work-img-2.jpg);
  background-size: cover;
}

.tab-active__img_3::after {
  background-repeat: no-repeat;
  background-image: url(img/work-img-3.jpg);
  background-size: cover;
}

.tab-active__img_4::after {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(img/work-img-4.jpg);
  background-size: cover;
}

.section-info__work_txt {
  width: 88%;
  margin-top: 0;
  margin-bottom: 49px;
  margin-left: 2px;
  font-size: 15.8px;
  line-height: 32px;
  font-weight: 400;
  color: var(--grey-3);
}

/* questions */

.section-questions {
  margin-bottom: 100px;
}

.section-questions__content #accordion .section-questions__item_in .section-questions__h3 {
  display: inline-block;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}

.section-questions__content #accordion .section-questions__heading {
  margin-bottom: 0;
  margin-bottom: 41px;
  font-size: 47.4px;
}

.section-questions__content #accordion .section-questions__item_in {
  margin-top: -1px;
  padding: 18px 0 12px 0;
  font-size: 20.5px;
  line-height: 32px;
  font-weight: 700;
  color: var(--grey-3);
  border-top: 1px solid var(--border-txt);
  border-bottom: 1px solid var(--border-txt);
  transition: color .3s ease, border-color .3s ease;
}

.section-questions__content #accordion .section-questions__item_in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: none;
  border-left: none;
  background: transparent;
}

.section-questions__content #accordion .section-questions__item_in .section-questions__h3 .section-questions__link {
  color: var(--grey-3);
}

.section-questions__content #accordion .section-questions__item_desc {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  border: none;
}

.section-questions__content #accordion .section-questions__item_in .ui-icon {
  display: none;
}

.section-questions__content #accordion .section-questions__item_in:hover {
  position: relative;
  border-color: var(--btn-color);
  z-index: 2;
}

.section-questions__item_in:hover .section-questions__h3 .section-questions__link {
  color: var(--btn-color)!important;
}

.section-questions__content #accordion .section-questions__item .section-questions__item_in .section-questions__button_plus {
  display: inline-block!important;
  margin: -5px 0 0 0;
  width: 50px;
  height: 50px!important;
  background-color: var(--button-plus);
  border: none;
  border-radius: 100%;
  background-image: url(img/button-svg-plus.svg);
  background-position: center;
}

.section-questions__content #accordion .section-questions__item:hover .section-questions__button_plus {
  background-color: var(--btn-hover);
  background-image: url(img/button-svg-plus-hover.svg);
}

.section-questions__content #accordion .ui-state-active {
  border-top: 1px solid var(--btn-color);
  border-bottom: 1px solid var(--btn-color);
}

.section-questions__content #accordion .ui-state-active {
  border-bottom: none;
}

.ui-state-active .section-questions__h3 .section-questions__link {
  color: var(--btn-color)!important;
}

.ui-state-active .section-questions__button_plus {
  transition: transform .3s ease;
}

.ui-state-active .section-questions__button_plus {
  background-image: url(img/button-svg-plus-hover.svg)!important;
  background-color: var(--btn-hover)!important;
  transform: rotate(45deg);
}

  /* footer */

.footer {
  padding-bottom: 44px;
  background-color: var(--black-2);
}

.footer__col {
  width: 20%;
}

.footer__col_left {
  width: 33%;
  padding-top: 50px;

}

.footer__col_medium {
  width: 45%;
  margin-left: -3px;
  padding: 53px 0 0 11px;
 }


.footer__col_right {
  width: 21%;
  padding-top: 138px;
  padding-left: 10px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: block;
  margin: 0 0 17px 0;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 89px;
}

.footer__nav-link {
  font-size: 17.8px;
  line-height: 36px;
  font-weight: 600;
  color: var(--border-txt);
  transition: color .3s ease;
}

.footer__nav-link:hover {
  color:var(--btn-color);
}

.footer__nav-link:active {
  color:var(--active-color);
}



.footer__heading {
  margin: 0 0 22px 0;
  font-size: 47.1px;
  line-height: 59px;
  font-weight: 400;
  color: var(--border-txt);
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.input, .message {
  width: 72.7%;
  padding: 16px 24px 12px 25px;
  margin-left: -2px;
  margin-bottom: 25px;
  font-size: 15.7px;
  line-height: 32px;
  font-weight: 400;
  color: var(--border-txt);
  background: #414141;
  border: none;
}

.message {
  margin-bottom: 31px;
  padding-bottom: 7px;
}

.input:focus, .message:focus {
  color: var(--white);
}

.footer__submit {
  display: inline-block;
  margin-right: 37px;
  margin-left: -1px;
  padding: 20px 52px 18px 52px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--white);
  border: none;
  cursor: pointer;
}


/* для элемента input c type="checkbox" */
.form__checkbox_input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox {
  position: relative;
  display: inline-block;
}

/* для элемента label, связанного с .custom-checkbox */
.form__checkbox_input + .form__checkbox_label {
  position: relative;
  margin-right: 6px;
  font-size: 15.8px;
  font-weight: 400;
  color: var(--border-txt);
}

/* создание в label псевдоэлемента before со следующими стилями */
.form__checkbox_input + .form__checkbox_label::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  top: 1px;
  left: -19px;
  border: 1px solid var(--border-txt);
}

/* стили для чекбокса, находящегося в состоянии checked */
.form__checkbox_input:checked + .form__checkbox_label::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 7px;
  top: 5px;
  bottom: 0;
  left: -15px;
  border-left: 2px solid #97EE3F;
  border-bottom: 2px solid #97EE3F;
  transform: rotate(-45deg);
}

.form__agree-txt {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--border-txt);
}

.footer__desc {
  margin-top: 0;
  padding: 0;
  font-size: 15.7px;
  line-height: 32px;
  font-weight: 400;
  color: var(--border-txt);
}

.footer__social {
  display: flex;
}

.social__link_fb, .social__link_vk, .social__link_inst {
  display: inline-block;
  margin-right: 25px;
  width: 60px;
  height: 60px;
  background-size: contain;
  transition: fill .3s ease;
}

.social__link_inst {
  margin-right: 0;
}

.social__link_fb:hover .social__link_icon path {
  fill: var(--btn-hover);
}

.social__link_vk:hover .social__link_icon path {
  fill: var(--btn-hover);
}

.social__link_inst:hover .social__link_icon path {
  fill: var(--btn-hover);
}

.social__link_fb:active .social__link_icon path {
  fill: var(--active-color);
}

.social__link_vk:active .social__link_icon path {
  fill: var(--active-color);
}

.social__link_inst:active .social__link_icon path {
  fill: var(--active-color);
}

/* Break points out */


@media (max-width: 1021px) {
  .section-questions__h3 {
    width: 90%;
  }

}


/* 1024 */

@media (max-width:1366px) {

  .section-slider {
    margin-bottom: 80px;
  }

  .container {
    padding: 0 50px;
  }

  .header {
    padding: 24px 0;
  }

  .nav {
    display: none;
  }

  .nav-burger__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-burger-list__active {
    display: block;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 41%;
    padding: 39px 50px 50px 50px;
    background-color: var(--white);
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  }

  .burger-wrapper {
    display: block;
  }

  .nav-burger__link {
    margin-bottom: 60px;
    font-size: 24px;
  }

  .logo {
    margin-left: -5px;
  }

  .header__search_submit {
    margin: 1px -1px 0 0;
  }

  .section-slider__content {
    padding: 164px 77px 160px 77px;
    background-size: cover;
  }

  .section-slider__1 {
  background-image: url(img/low-angle-photo-of-balconies-1024.jpg);
  }

  .section-slider__2 {
    background-image: url(img/swiper-2-1024.jpg);
  }

  .section-slider__3 {
    background-image: url(img/swiper-3-1024.jpg);
  }

  .section-slider__heading {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73.14px;
    font-weight: 800;
  }

  .header-container__burger {
    display: block;
    background-color: transparent;
    border: none;
  }

  .header-container__burger:hover {
    background-image: url(img/burger-hover.svg);
  }

  .header-container__burger:focus {
    background-image: url(img/burger-active.svg);
  }

  .section-slider__desc {
    width: 89%;
    margin-bottom: 59px;
    font-size: 20px;
    line-height: 24.38px;
  }

  .btn {
    font-size: 23.46px;
    line-height: 29px;
    padding: 24.5px 37px;
  }

  .section-heading {
    margin-bottom: 13px;
  }

  .section-about-us__heading {
    margin-bottom: 6px;
    margin-left: 0;
  }

  .section-about-us__desc {
    width: 100%;
    margin-bottom: 63px;
    font-size: 15.7px;
    line-height: 32px;
  }

  .section-about-us__desc_icon {
    display: none;
  }

  .section-info {
    flex-direction: column;
  }

  .section-info__txt {
    margin-right: 195px;
  }

  .section-info__col {
    flex-direction: column-reverse;
    width: 100%;

  }

  .section-info__wrap_img {
    margin-bottom: 31px;
    padding-top: 444px;
    background-image: url(img/worker.jpg);
  }

  .section-info__more {
    padding: 19px 35px 16px 35px;
    font-size: 16px;
    line-height: 19.5px;
  }

  .section-info__about {
    padding: 50px;
  }

  .section-info__desc_top {
    margin-bottom: 32px;
    padding: 66px 150px 63px 317px;
    background: url(img/circle-square.svg) 75px 64px no-repeat transparent
  }

  .section-info__desc_bottom {
    padding: 66px 150px 63px 317px;
    background: url(img/circle-engine.svg) 75px 64px no-repeat transparent;
  }

  .section-info__heading {
    margin-bottom: 7px;
  }

  .section-about-us {
    margin-bottom: 84px;
  }

  .section-work__heading {
    margin-bottom: 47px;
    font-size: 47.5px;
    line-height: 59px;
  }

  .tabs-link.active {
    margin-left: -1px;
  }

  .tabs-item {
    margin-right: 81px;
  }

  .section-work__tabs {
    margin-bottom: 53px;
  }

  .section-work__info {
    width: calc((100% - 47px)/2);
  }

 .section-work__info::after {
   background-image: none;
   z-index: -1;
 }

  .section-work__info_img::after {
    width: calc((100% - 50px)/2);
    top: 8px;
    right: 0;
  }

  .tab-active__img_1::after {
    background-position: center center;
    background-size: cover;
    background-image: url(img/work-img.jpg);
  }

  .tab-active__img_2::after {
    background-position: center center;
    background-size: cover;
    background-image: url(img/work-img-2.jpg);
  }

  .tab-active__img_3::after {
    background-position: center center;
    background-size: cover;
    background-image: url(img/work-img-3.jpg);
  }

  .tab-active__img_4::after {
    background-position: center center;
    background-size: cover;
    background-image: url(img/work-img-4.jpg);
  }

  .section-info__work_heading {
    margin-bottom: 8px;
    margin-left: -1px;
  }

  .section-info__work_txt {
    width: 100%;
    margin-bottom: 23px;
    margin-left: 0;
  }

  .section-work__btn {
    margin-right: 28px;
    margin-left: 0;
    padding: 22px 39px 18px 37px;
    font-size: 16.4px;
    line-height: 20px;
  }

  .section-work__contract {
    padding: 20px 37px 18px 37px;
    font-size: 15.7px;
    line-height: 20px;
  }

  .section-work {
    margin-bottom: 83px;
  }

  .section-questions__heading {
    margin-bottom: 30px;
    margin-left: 0;
    font-size: 47.4px;
    line-height: 59px;
  }

  .section-questions__item {
    padding: 19px 0 19px 0;
    font-size: 17.1px;
    line-height: 32px;
  }

  .section-questions__button_plus {
    margin: 0;
  }

  .section-questions {
    margin-bottom: 76px;
  }

  .footer__content {
    padding-bottom: 46px;
  }

  .footer__nav {
    display: block;
    margin: 3px 0 0 -2px;
  }

  .footer__social {
    margin-left: -3px;
  }

  .footer__col_right {
    display: none;
  }

  .footer__col_left {
    width: 30%;
    padding-top: 50px;
    padding-left: 1px;
  }

  .footer__logo {
    margin: 0 0 17px -3px;
  }

  .footer__col_medium {
    width: 60%;
    padding: 54px 0 11px 0;
  }

  .footer__heading {
    margin-bottom: 20px;
    margin-left: 13px;
    font-size: 47.5px;
    line-height: 59px;
  }

  .footer__nav-list {
    margin-bottom: 89px;
  }

  .footer__form {
    margin-left: 13px;
    padding-left: 0;
  }

  .input, .message {
    width: 100%;
    margin-left: 0;
  }

  .footer__submit {
    margin-right: 15px;
    padding: 20px 38px 18px 38px;
    font-size: 16.1px;
    line-height: 22px;
  }

  .form__checkbox {
    margin-top: 3px;
  }

  .form__checkbox_input + .form__checkbox_label {
    margin-right: 0;
    padding-left: 19px;
  }

  .form__checkbox_input + .form__checkbox_label::before {
    top: 1px;
    left: 2px;
  }

  .form__checkbox_input:checked + .form__checkbox_label::after {
    top: 4px;
    left: 5px;
  }

}

/* 1024 */

@media (max-width:1024px) {

  .tab-active__img_1::after {
    background-position: center center;
    background-size: cover;
    background-image: url(img/work-img-1024.jpg);
  }

  .tab-active__img_2::after {
    background-position: center center;
    background-size: cover;
    background-image: url(img/work-img-2.jpg);
  }

  .tab-active__img_3::after {
    background-position: center center;
    background-size: cover;
    background-image: url(img/work-img-3.jpg);
  }

  .tab-active__img_4::after {
    background-position: center center;
    background-size: cover;
    background-image: url(img/work-img-4.jpg);
  }

}

/* 768 - 855 */

@media (max-width:855px) {
  .header {
    padding: 7px 0 7px 0;
  }

  .container {
    padding: 0 50px;
  }

  .nav-burger-list__active {
  padding: 21px 50px 50px 50px;
  }

  .section-slide {
    margin-bottom: 80px;
  }

  .logo {
    margin-top: 3px;
  }

  .nav-burger-list__active {
    width: 50%;
  }

  .header__search_submit {
    margin: 2px -1px 0 0;
  }

  .section-slider__content {
    padding: 162px 40px 160px 40px;
  }

  .section-slider__1 {
    background-image: url(img/low-angle-photo-of-balconies-1024.jpg);
  }

  .section-slider__2 {
    background-image: url(img/swiper-2-1024.jpg);
  }

  .section-slider__3 {
    background-image: url(img/swiper-3-1024.jpg);
  }

.section-slider__heading {
  margin-bottom: 14px;
  font-size: 50px;
  line-height: 61px;
  }

.section-slider__desc {
  width: 94%;
  margin-bottom: 59px;
  font-size: 18px;
  line-height: 22px;
  }

  .btn {
    font-size: 23.5px;
    line-height: 29px;
    padding: 27px 37px 21.5px 37px;
  }

.section-about-us__desc {
  margin-bottom: 60px;
  font-size: 15.8px;
  }

  .section-info__wrap_img {
    margin-bottom: 31px;
    padding-top: 454px;
    background-position-y: top;
    background-image: url(img/worker-768.jpg);
    background-size: cover;
  }

  .section-info__more {
    padding: 19px 35px 16px 35px;
    font-size: 16px;
    line-height: 19.5px;
  }

  .section-info__about {
    padding: 35px 40px 34px 40px;
  }

  .section-info__txt {
    margin-right: 50px;
  }

  .section-info__desc_top {
    margin-bottom: 32px;
    padding: 36px 40px 33px 170px;
    background: url(img/circle-square-768.svg) 39px 67px no-repeat transparent;
  }

  .section-info__desc_bottom {
    padding: 36px 40px 33px 170px;
    background: url(img/circle-engine-768.svg) 39px 67px no-repeat transparent;

  }

  .section-about-us {
    margin-bottom: 83px;
  }

  .section-work__heading {
    font-size: 47.3px;
  }

  .tabs-list {
    display: flex;
    justify-content: space-between;
  }

  .tabs-item {
    margin-right: 0;
  }

  .section-work__info_all {
    display: flex;
    flex-direction: column-reverse;
  }

  .section-work__info {
    flex-direction: row-reverse;
    width: 100%;
  }

  .section-work__info_img::after {
    content: '';
    position: relative;
    z-index: -1;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0%;
    left: 0;
    background-size: cover;
}

.tab-active__img_1::after {
  background-position: center center;
  background-size: cover;
  background-image: url(img/work-img-768.jpg);
}

.tab-active__img_2::after {
  background-position: center center;
  background-size: cover;
  background-image: url(img/work-img-2.jpg);
}

.tab-active__img_3::after {
  background-position: center center;
  background-size: cover;
  background-image: url(img/work-img-3.jpg);
}

.tab-active__img_4::after {
  background-position: center center;
  background-size: cover;
  background-image: url(img/work-img-4.jpg);
}

.section-info__work_heading {
    font-size: 24.1px;
  }

.section-work__tabs {
    margin-bottom: 49px;
  }

.section-work__info_img {
    position: relative;
    height: 284px;
    margin-bottom: 41px;
  }

  .section-work__btn {
    padding: 22px 39px 18px 37px;
    font-size: 16.4px;
    line-height: 20px;
  }

  .section-info__work_txt {
    margin-bottom: 24px;
  }

  .section-work__contract {
    padding: 20px 37px 18px 37px;
    font-size: 15.7px;
    line-height: 20px;
  }

  .section-questions {
    margin-bottom: 8px;
  }

  .footer__nav {
    display: none;
  }

  .footer__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__col_left, .footer__col_medium {
    width: 81%;
    padding-left: 2px;
  }

  .footer__heading {
    margin-left: 0;
  }

  .input, .message {
    width: 100.3%;
  }
  .footer__form {
    margin-left: 0;
  }

  .footer__submit {
    margin-right: 16px;
    margin-left: 1px;
    padding: 20px 35px 18px 38px;
    font-size: 16.1px;
    line-height: 22px;
  }

  .footer__col_left {
    padding-top: 35px;
  }

  .footer__logo {
    margin-bottom: 12px;
  }

}

/* 320px */

@media (max-width: 576px) {

  .section-slider {
    padding: 0 15px;
    margin-bottom: 60px;
  }

  .container {
    padding: 0 15px;
  }

  .logo {
    margin-top: 0;
  }

  .nav-burger-list__active {
    padding: 23px 41px 50px 15px;
  }

  .header-container__burger_x {
    margin-bottom: 32px;
  }

  .nav-burger-list__active {
    width: 100%;
    overflow: auto;
  }

  .section-slider__content {
    padding: 61px 21px 60px 23px;
    background-size: cover;
    text-align: center;
  }

  .section-slide__1 {
    background-image: url(img/low-angle-photo-of-balconies-320.jpg);
  }

  .section-slide__2 {
    background-image: url(img/swiper-2.jpg);
  }

  .section-slide__3 {
    background-image: url(img/swiper-3.jpg);
  }

  .section-slider__heading {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
  }
  .nav-burger__link {
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: 600;
  }

  .btn {
    font-size: 12px;
    line-height: 15px;
    padding: 13px 28px 13px 28px;
  }

  .header__search_submit {
    margin: 1px -1px 0 0;
  }

  .header {
    padding: 10px 0 13px 0;

  }

  .section-slider__desc {
    width: 100%;
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
  }

  .section-about-us {
    margin-bottom: 29px;
  }

  .section-about-us__heading {
    margin-bottom: 19px;
    font-size: 24px;
    line-height: 29.6px;
  }

  .section-about-us__desc {
    margin-bottom: 12px;
    font-size: 13.8px;
    line-height: 28px;
  }

  .section-info__wrap_img {
    margin-bottom: 32px;
    padding-top: 72%;
    background-position-y: top;
    background-image: url(img/worker-320.jpg);
    background-size: 100%;
  }

  .section-info__about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    background-color: transparent;
  }

  .section-info__txt {
    margin-right: 0;
    margin-bottom: 11px;
    font-size: 13.8px;
    line-height: 28px;
    font-weight: 400;
    color: var(--grey-3);
  }

  .section-info__more {
    padding: 9px 42px 13px 42px;
    font-size: 12px;
    line-height: 14.6px;
    color: var(--btn-color);
    border-width: 2px;
  }

  .section-info__desc_top {
    margin-bottom: 32px;
    padding: 62px 0 0 0;
    background: url(img/circle-square-320.svg) left top no-repeat transparent;
    border: none;
  }

  .section-info__desc_bottom {
    padding: 61px 0 33px 0;
    background: url(img/circle-engine-320.svg) left top no-repeat transparent;
    border: none;
  }

  .section-info__heading {
    margin: 0 0 4px 0px;
    font-size: 17.4px;
    line-height: 22px;
    font-weight: 700;
    color: var(--grey-3);
  }

  .section-info__heading_bottom {
    font-size: 17.5px;
  }

  .section-info__txt_right {
    margin: 0;
    font-size: 13.8px;
    line-height: 28px;
    font-weight: 400;
    color: var(--grey-3);
  }

  .section-work__heading {
    margin-bottom: 18px;
    font-size: 23.6px;
    line-height: 29.3px;
  }

  .tabs-link {
    font-size: 14px;
    line-height: 17px;
  }

  .tabs-link.active {
    margin-left: 0px;
  }

  .section-work__info_img::after {
    content: '';
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0%;
    left: 0;
    z-index: -1;
  }

  .tab-active__img_1::after {
    background-position: center center;
    background-size: cover;
    background-image: url(img/work-img-768.jpg);
  }

  .tab-active__img_2::after {
    background-position: center center;
    background-size: cover;
    background-image: url(img/work-img-2.jpg);
  }

  .tab-active__img_3::after {
    background-position: center center;
    background-size: cover;
    background-image: url(img/work-img-3.jpg);
  }

  .tab-active__img_4::after {
    background-position: center center;
    background-size: cover;
    background-image: url(img/work-img-4.jpg);
  }

  .section-work__tabs {
    margin-bottom: 15px;
  }

  .section-work__info_img {
    position: relative;
    height: 160px;
    margin-bottom: 22px;
  }

  .section-info__work_heading {
    margin: 0 0 13px 0;
    font-size: 17.5px;
  }

  .section-info__work_txt {
    margin-bottom: 14px;
    font-size: 13.8px;
    line-height: 28px;
  }

  .section-work__btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section-work__btn {
    margin-right: 0;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 45px 12px 45px;
  }

  .section-work__contract {
    padding: 12px 31px 12px 31px;
    font-size: 12px;
    line-height: 14.6px;
  }

  .section-questions__heading {
    margin-bottom: 14px;
    margin-left: 0;
    font-size: 23.7px;
    line-height: 29.6px;
  }

  .section-work {
    margin-bottom: 63px;
  }

  .section-questions__item {
    padding: 31px 0 29px 0;
    font-size: 11.7px;
    line-height: 24px;
  }

  .section-questions__h3 {
    width: 87%;
    margin: 0;
  }

  .section-questions__button_plus {
    width: 30px;
    height: 30px;
    margin-top: -1%;
    margin-right: -1px;
    background-image: url(img/plus-320.svg);
  }

  .section-questions__content #accordion .section-questions__item_desc {
    width: 100%;
  }

  .footer__heading {
    margin-left: -2px;
    font-size: 23.6px;
    line-height: 29px;
  }

  .section-questions {
    margin-bottom: 60px;
  }

  .footer__col_medium {
    width: 101%;
    margin-bottom: 16px;
    padding-top: 34px;
    padding-bottom: 0;
    padding-left: 4px;
  }

  .input, .message {
    padding: 13px 24px 15px 19px;
    font-size: 13.9px;
    line-height: 32px;
  }

  .form__button_wrap {
    display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 22px;
   border-bottom: 1px solid var(--grey-59);
  }

  .message {
    margin-bottom: 24px;
    padding-bottom: 9px;
  }

  .footer__submit {
    width: 63%;
    margin: 0 0 15px 0;
    padding: 13px 21px 12px 21px;
  }

  .form__checkbox {
    margin-top: 4px;
  }

  .form__checkbox_input + .form__checkbox_label::before {
    top: 0px;
    left: 1px;
  }

  .form__checkbox_input + .form__checkbox_label::before {
    width: 12px;
    height: 12px;
  }

  .footer__col_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 0;
  }

  .footer__logo {
    margin: 0 0 12px 3px;
  }

  .social__link_fb, .social__link_vk, .social__link_inst {
    width: 40px;
    height: 40px;
  }

  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 53%;
  }

  .social__link_fb, .social__link_vk, .social__link_inst {
    margin-right: 0;
  }

}

.section-work__info_all {
  display: none;
}


.tab-active {
  display: block;
  display: flex;
}
